# library 

boto3==1.37.30
botocore==1.37.30
importlib_metadata==8.6.1
numpy==1.26.4
pandas==2.2.3
pathlib==1.0.1
Pillow==9.4.0
torch==2.2.2
torchvision==0.17.2
scikit-learn==1.3.0
seaborn==0.12.2
tqdm==4.65.0